app:
  replicaCount: 1
  image:
    repository: ghcr.io/doda2025-team14/app
    tag: stable
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
  ingress:
    enabled: true
    className: "nginx"
    annotations: {}
    hosts:
      - host: team14.local
        paths:
          - path: /
            pathType: Prefix
  resources: {}
  env:
    modelHost: "http://model-service:8081"

  # Canary deployment configuration
  canary:
    enabled: true
    replicaCount: 1
    image:
      repository: ghcr.io/doda2025-team14/app
      tag: experimental
      pullPolicy: Always

modelService:
  replicaCount: 1
  image:
    repository: ghcr.io/doda2025-team14/model-service
    tag: stable
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8081
  resources: {}
  env:
    modelUrl: "https://github.com/doda2025-team14/model-service/releases/latest/download/model-release.tar.gz"

  # Canary deployment configuration
  canary:
    enabled: true
    replicaCount: 1
    image:
      repository: ghcr.io/doda2025-team14/model-service
      tag: experimental
      pullPolicy: Always


kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      podMetadata:
        annotations:
          sidecar.istio.io/inject: "false"
  alertmanager:
    alertmanagerSpec:
      podMetadata:
        annotations:
          sidecar.istio.io/inject: "false"
  prometheusOperator:
    admissionWebhooks:
      patch:
        podAnnotations:
          sidecar.istio.io/inject: "false"
    podAnnotations:
      sidecar.istio.io/inject: "false"
  kube-state-metrics:
    podAnnotations:
      sidecar.istio.io/inject: "false"
  prometheus-node-exporter:
    podAnnotations:
      sidecar.istio.io/inject: "false"
  grafana:
    adminUser: admin
    adminPassword: "42"
    podAnnotations:
      sidecar.istio.io/inject: "false"
    sidecar:
      dashboards:
        enabled: true


istio:
  enabled: true
  useGateway: true
  gateway:
    name: istio-ingressgateway
    selector:
      istio: ingressgateway
    hosts:
      # canary.enabled: true -> v1 or v2
      # else                 -> v1
      - istio.team14.local
      # v2
      - canary.team14.local
  stickySessions:
    enabled: true
    cookieName: "user-session"
    ttl: "0s"
  canary:
    enabled: true
    v1Weight: 90
    v2Weight: 10

# Secret management
secrets:
  # Set to true to create the secret with the chart.
  # Set to false to use an existing secret (pre-deployed).
  create: true
  # The name of the secret to use or create.
  name: app-secrets
  # Data to include in the secret (only used if create is true).
  data:
    apiKey: "change-me-placeholder"

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}
