app:
  replicaCount: 1
  image:
    repository: ghcr.io/doda2025-team14/app
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  ingress:
    enabled: true
    className: "nginx"
    annotations: {}
    hosts:
      - host: team14.local
        paths:
          - path: /
            pathType: Prefix
  resources: {}
  env:
    modelHost: "http://model-service:8081"

modelService:
  replicaCount: 1
  image:
    repository: ghcr.io/doda2025-team14/model-service
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8081
  resources: {}

# Example for now
secrets:
  # Dummy value
  apiKey: "change-me-placeholder"

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}
