services:
  model-service:
    image: ghcr.io/doda2025-team14/model-service:latest # should run the latest image when published
    
    environment:
      - MODEL_SERVICE_PORT=${MODEL_SERVICE_PORT:-8081}
    
    expose:
      - ${MODEL_SERVICE_PORT:-8081} 

  app:
    image: ghcr.io/doda2025-team14/app:latest # should run the latest image when published
    ports:
      - "${APP_PORT:-8080}:${APP_PORT:-8080}"

    environment:
      - APP_PORT=${APP_PORT:-8080}
      - MODEL_HOST=http://model-service:${MODEL_SERVICE_PORT:-8081}
  

    