services:
  model-service:
    image: ghcr.io/doda2025-team14/model-service:latest

  app:
    image: ghcr.io/doda2025-team14/app:latest
    ports:
      - "${HOST_PORT:-8080}:8080"

    environment:
      - MODEL_HOST=http://model-service:8081
  

    