services:
  model-service:
    image: ghcr.io/doda2025-team14/model-service:latest
    restart: always
    environment:
      - MODEL_DIR=/app/model_files
    volumes:
      - model-files:/app/model_files

  app:
    image: ghcr.io/doda2025-team14/app:latest
    restart: always
    ports:
      - "${HOST_PORT:-8080}:8080"
    environment:
      - MODEL_HOST=http://model-service:8081

volumes:
  model-files:
