apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: ghcr.io/doda2025-team14/app:latest
        ports:
        - containerPort: 8080
        env:
        - name: MODEL_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: model_host