apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app: app
spec:
  type: {{ .Values.app.service.type }}
  selector:
    app: app
  ports:
    - protocol: TCP
      port: {{ .Values.app.service.port }}
      targetPort: {{ .Values.app.service.port }}
