apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app: app
spec:
  type: ClusterIP         
  selector:
    app: app
  ports:
    - name: http
      protocol: TCP
      port: 8080          
      targetPort: 8080
