---
- hosts: ctrl
  become: true

  tasks:
    - name: Check if kubeadm already initialized
      stat:
        path: /etc/kubernetes/admin.conf
      register: kubeinit

    - name: Initialize Kubernetes control plane
      command: >
        kubeadm init
        --apiserver-advertise-address=192.168.56.{{ base_ip }}
        --node-name ctrl
        --pod-network-cidr=10.244.0.0/16
      when: not kubeinit.stat.exists

    - name: Get kubeadm join command
      command: kubeadm token create --print-join-command
      register: join_cmd
      changed_when: false
      run_once: true

    - name: Save join command to shared folder
      copy:
        content: "{{ join_cmd.stdout }}"
        dest: /mnt/shared/kubeadm_join.sh
        mode: '0755'


    - name: Copy admin.conf to host shared folder
      copy:
        remote_src: yes
        src: /etc/kubernetes/admin.conf
        dest: /mnt/shared/admin.conf
        mode: "0644"
        
    - name: Copy custom Flannel manifest
      copy:
        src: flannel.yml
        dest: /tmp/flannel.yml
        mode: '0644'

    - name: Apply Flannel network
      command: kubectl apply -f /tmp/flannel.yml
      environment:
        KUBECONFIG: /mnt/shared/admin.conf
      register: flannel_apply
      changed_when: >
        "created" in flannel_apply.stdout or
        "configured" in flannel_apply.stdout



    - name: Install Helm
      shell: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      args:
        executable: /bin/bash
      when: not kubeinit.stat.exists

    - name: Install helm-diff plugin
      become_user: vagrant
      shell: helm plugin install https://github.com/databus23/helm-diff || true
      args:
        executable: /bin/bash
      when: not kubeinit.stat.exists

    - name: Copy finalization playbook to ctrl VM
      copy: 
        src: ../playbooks/finalization.yml 
        dest: /mnt/shared/finalization.yml 
        owner: vagrant
        group: vagrant
        mode: '0644'

