- hosts: all
  become: true
  tasks:
    # Assignment 2: Step 4
    - name: Ensure ssh service is started and enabled
      service:
        name: ssh
        state: started
        enabled: true

    - name: Register public SSH keys
      authorized_key:
        user: "{{ ansible_user }}"
        state: present
        key: "{{ lookup('file', item) }}"
      with_fileglob:
        - "{{ playbook_dir }}/../ssh-keys/*.pub"

    # Assignment 2: Step 5
    - name: Disable swap
      ansible.builtin.shell: swapoff -a

    - name: Remove swap entry in /etc/fstab
      ansible.builtin.lineinfile:
        path: /etc/fstab
        regexp: ".*swap.*"
        state: "absent"
