- hosts: all
  become: true
  tasks:
    # Assignment 2: Step 4
    - name: Ensure ssh service is started and enabled
      service:
        name: ssh
        state: started
        enabled: true

    - name: Register public SSH keys
      authorized_key:
        user: "{{ ansible_user }}"
        state: present
        key: "{{ lookup('file', item) }}"
      with_fileglob:
        - "{{ playbook_dir }}/../ssh-keys/*.pub"

    # Assignment 2: Step 5
    - name: Disable swap
      ansible.builtin.shell: swapoff -a

    - name: Remove swap entry in /etc/fstab
      ansible.builtin.lineinfile:
        path: /etc/fstab
        regexp: ".*swap.*"
        state: "absent"

    # Assignment 2: Step 6
    - name: Create k8s.conf for modules
      copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter

    - name: Load overlay module
      modprobe:
        name: overlay
        state: present

    - name: Load br_netfilter module
      modprobe:
        name: br_netfilter
        state: present

    # Assignment 2: Step 7
    - name: Enable IPv4 forwarding
      sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: Enable bridge-nf-call-iptables
      sysctl:
        name: net.bridge.bridge-nf-call-iptables
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    - name: Enable bridge-nf-call-ip6tables
      sysctl:
        name: net.bridge.bridge-nf-call-ip6tables
        value: '1'
        sysctl_set: yes
        state: present
        reload: yes

    # Assignment 2: Step 8
    - name: Add nodes to /etc/hosts
      blockinfile:
        path: /etc/hosts
        block: |
          192.168.56.100 ctrl
          {% for i in range(1, num_workers|int + 1) %}
          192.168.56.10{{ i }} node-{{ i }}
          {% endfor %}
    
    # Assingment 2: step 9
    - name: Create /etc/apt/keyrings directory
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'
        
    - name: Download Kubernetes Release.key
      get_url:
        url: "https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key"
        dest: /etc/apt/keyrings/kubernetes-release.key
        mode: '0644'

    - name: Create dearmored keyring
      command: >
        gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        /etc/apt/keyrings/kubernetes-release.key
      args:
        creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    
    - name: Add Kubernetes APT repository
      apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /"
 
    - name: Update repositories cache
      ansible.builtin.apt:
        update_cache: yes
    
    # Assingment 2: step 10
    - name: Install containerd and Kubernetes tools
      ansible.builtin.apt:
        name:
          - containerd
          - runc
          - kubeadm
          - kubelet
          - kubectl
          
    # Assingment 2: step 11
    - name: Ensure /etc/containerd directory exists
      file:
        path: /etc/containerd
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Remove old containerd config
      file:
        path: /etc/containerd/config.toml
        state: absent

    - name: Create default containerd config
      command: containerd config default
      register: containerd_config
      args:
        creates: /etc/containerd/config.toml
        

    - name: Save containerd config to file
      copy:
        dest: /etc/containerd/config.toml
        content: "{{ containerd_config.stdout }}"
        owner: root
        group: root
        mode: '0644'

    - name: Disable apparmor
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: 'disable_apparmor = false'
        line: disable_apparmor = true

    - name: Set sandbox image
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: 'sandbox_image = ".*"'
        line: sandbox_image = "registry.k8s.io/pause:3.10"
        
    - name: Enable SystemdCgroup
      ansible.builtin.lineinfile:
        path: /etc/containerd/config.toml
        regexp: 'SystemdCgroup = false'
        line: SystemdCgroup = true

    - name: Restart containerd service to apply changes
      ansible.builtin.service:
        name: containerd
        state: restarted


    # Assingment 2: step 12
    
    - name: Kubelet service is started and enabled
      ansible.builtin.service:
        name: kubelet
        state: started
        enabled: true
